In [1]:
import numpy as np

np_data=np.load('sql_for_vitals.npy')

In [3]:
np_data.shape

(58976, 14)

In [4]:
data=np_data.tolist()

In [5]:
data[0]

['SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (646,220277) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (211,220045) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (618,615,220210,224690) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (51,442,455,6701,220179,220050) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (8368,8440,8441,8555,220180,220051) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (1817,228640) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (223761,678) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (223762,676) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (198,226755,227013) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (3348) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (2981,3420,3422,223835) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (807,811,1529,3745,3744,225664,220621,226537) ORDER BY charttime',
 'SELECT charttime, valuenum FROM chartevents WHERE hadm_id = 100001 AND itemid IN (780,860,1126,1673,3839,4202,4753,6003,220274,220734,223830,228243) ORDER BY charttime',
 'SELECT charttime, VALUE FROM outputevents WHERE hadm_id = 100001 AND itemid IN (43647,43053,43171,43173,43333,43347,43348,43355,43365,43373,43374,43379,43380,43431,43519,43522,43537,43576,43583,43589,43638,43654,43811,43812,43856,44706,45304,227519) ORDER BY charttime']